.jumbotron {
  background-color: #b22020;
}

#toppingOptions {
  background-color: #b22020;
  float: right;
  margin-right: 10px;
}

.col-lg-6 {
  background-color: #b22020;
  float: left;
  margin-left: 10px;
}

.menuOptions {
  background-color: #b22020;
  text-align: center;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
h5 {
    font-weight: bolder;
}

.pizzaPrice {
  display: none;
  background-color: #b22020;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}
